# Keys for sending messages
keys

# Python envs
venv/
env/

# Compiled Python
__pycache__/
*.pyc

# IDE folders
.idea
.vscode

# terraform
.terraform
.terraform.lock.hcl

# Mac files 
.DS_Store

# Output files 
*.zip

# Go files
go.sum