 [Unit]
 Description=The temperature measurement service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/pi/Code/temp-measurement/src/temp_measure/venv/bin/python3 /home/pi/Code/temp-measurement/src/temp_measure/temp_measurement.py &> /home/pi/Code/temp-measurement/src/temp_measure/logs/log.txt

 [Install]
 WantedBy=multi-user.target